@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}


/*Nabv*/

.max-width{
	max-width: 1300px;
	padding:  0 80px;
	margin: auto;
}
.navbar{
	position: fixed;
	width: 100%;
	padding: 30px 0;
	font-family: 'Ubuntu',sans-serif;
	transition: all 0.3s ease;
}
.navbar.sticky {
	background: #4CB481;
	padding: 15px 0;
}

.menu-btn{
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;

}
.navbar .logo a span{
	color: #6EEAA5;
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover{
	color: #6EEAA5;
}

/*Nabv*/


/*Home*/

.home{
	display: flex;
	background: #222222;
	height: 100vh;
	min-height: 500px;
	color: #FFFFFF;

}

.home .max-width{
	margin:auto 0 auto 40px;
}

.home .home-content .text-1{
	font-size: 27px;
	
}

.home .home-content .text-2{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
	

}

.home .home-content .text-3{
	font-size: 40px;
	margin: 5px 0;
	

}

.home .home-content .text-3 span{
	color: #6EEAA5;
	font-weight: 500px;
}

.home .home-content a{
	display: inline-block;
	background: #3E7A59;
	color: #fff;
	font-size: 25px;
	padding:12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	transition: all 0.3s ease;
	box-shadow: 0px 1px 7px  #3F6651;
/*	position: relative;*/
	
	text-transform: uppercase;


}

.home .home-content a:hover{

	background: #49B177;
	color: #000000;
	letter-spacing: 3px;
	box-shadow: 0px 3px 10px  #3F6651;
	

}



/*.home .home-content a span{
	position: absolute;
	display: block;
	background: #5BC692;
}
.home .home-content a span:nth-child(1){
	left: 0;
	bottom: 20%;
	width: 1px;
	height: 60%;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.25s;

}
.home .home-content a:hover span:nth-child(1){
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.25s;

}


.home .home-content a span:nth-child(2){
	left: 20%;
	top: 0;
	width: 60%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.25s;

}
.home .home-content a:hover span:nth-child(2){
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.25s;

}

.home .home-content a span:nth-child(3){
	right:  0;
	bottom: 20%;
	width: 1px;
	height: 60%;
	transform: scaleY(0);
	transform-origin: bottom;
	transition: transform 0.25s;

}
.home .home-content a:hover span:nth-child(3){
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.25s;

}*/

.home .home-content a{
		font-size: 23px;
		padding: 10px 30px;
}


@media (max-width: 2000px){


.max-width{
	max-width: 95%;
}
.home .home-content {
	letter-spacing: 2px;
}



@media (max-width: 1104px){


.home .max-width{
	margin-left: 0px;
}
.home .home-content {
	letter-spacing: 1px;
}
}


@media (max-width: 991px){


.max-width{
	
	padding: 0 50px;
	
}
}
@media (min-width: 1800px){
	.home .home-content .text-2 span{
	transition: all 0.2s;
}
.home .home-content .text-2 span:nth-child(1):hover{
  text-shadow: 0px 4px 8px #B9BBBB;
	-webkit-text-stroke: 2.5px #fff;
   color: #22222222;


}
.home .home-content .text-2 span:nth-child(2):hover{
  text-shadow: -5px 2px 8px #7F9B8C;

	

}

.home .home-content .text-2 span:nth-child(3):hover{
  text-shadow: -2px 3px 8px #3D937A;
	

}

.home .home-content .text-2 span:nth-child(4):hover{
  text-shadow: -1px 4px 8px #73A38B;
	

}

.home .home-content .text-2 span:nth-child(5):hover{
  text-shadow: 0px 5px 8px #4E9B8F;
	

}

.home .home-content .text-2 span:nth-child(6):hover{
  text-shadow: 0px 4px 8px #B9BBBB;
	-webkit-text-stroke: 2.5px #fff;
   color: #22222222;

}

.home .home-content .text-2 span:nth-child(7):hover{
  text-shadow: 1px 3px 8px #A4BEA8;
	

}

.home .home-content .text-2 span:nth-child(8):hover{
  text-shadow: 2px 2px 8px #5D9B7D;
	

}
.home .home-content .text-2 span:nth-child(9):hover{
  text-shadow: 2px 2px 8px #77D0A9;
	

}

.home .home-content .text-2 span:nth-child(10):hover{
  text-shadow: 3px 2px 8px #5AD39B;
	

}

.home .home-content .text-2 span:nth-child(11):hover{
  text-shadow: 4px 2px 8px #98BEAF;
	

}

.home .home-content .text-2 span:nth-child(12):hover{
  text-shadow: 5px 2px 8px #BBDBC8;
	

}



}


}

@media (max-width: 947px) {


.menu-btn{

	display: block;
	z-index: 999;
}
.menu-btn i.active:before{
	content: "\f00d";
}
.navbar .menu{
	position: fixed;
	background: #222222;
	height: 100vh;
	width: 100%;
	left: -100%;
	top: 0;
	text-align: center;
	padding-top: 80px;
	transition: all 0.3s ease;

}
.navbar .menu.active{
	left: 0;
}
.navbar .menu li{
	display: block;
}
.navbar .menu li a{
	display: inline-block;
	margin: 20px 0;
	font-size: 25px;
}
.home .home-content .text-2{
	font-size: 70px;


}

.home .home-content .text-3{
	font-size: 35px;


}
}


@media (max-width: 690px){
.home .home-content a{
		font-size: 20px;
		
}


.max-width{
	
	padding: 0 23px;
	
}
.home .home-content .text-2{
	font-size: 60px;


}

.home .home-content .text-3{
	font-size: 32px;


}
}

@media (max-width: 500px){


.home .home-content .text-2{
	font-size: 50px;


}.max-width{
	
	padding: 0 35px;
	
}

.home .home-content .text-3{
	font-size: 27px;


}
}

@media (max-width: 380px){


.home .home-content .text-2{
	font-size: 40px;


}.navbar .max-width{
	padding: 0 60px;
}

.home .home-content .text-3{
	font-size: 27px;
}
.home .home-content .text-1{
	font-size: 20px;
	
}

}




